<div class="container mt-4 mb-4">
	<div class="cart-title">
		<h1>Check Items in Cart</h1>
	</div>
	<div class="cart-body">
		<div class="row">
			<div class="col-3" *ngFor="let item of cartList">
				<div class="card" style="width: 18rem;">
					<img [src]="item.imageUrl" class="card-img-top" alt="...">
					<div class="card-body">
					  <h6 class="fw text-bold">{{item.title}}</h6>
					  <p class="fw text-normal">{{item.description}}</p>
					  <a href="#" class="btn btn-primary ms-4" style="text-align: center;">Modify</a>
					  <a href="#" class="btn btn-primary ms-4" style="text-align: center;">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>