<div class="container mt-4 mb-4">
	<div class="cart-title">
		<h1>Check Items in Cart</h1>
	</div>
	<div class="cart-body">
		<div class="row">
			<div class="col-3" *ngFor="let item of cartList">
				<div class="card" style="width: 18rem;">
					<img [src]="item.imageUrl" class="card-img-top" alt="..." style="height: 50%">
					<div class="card-body text-center">
					  <h3 class="fw text-bold">{{item.title}}</h3>
					  <a class="btn btn-dark ms-4" style="text-align: center;">Modify</a>
					  <a class="btn btn-dark ms-4" style="text-align: center;" (click)="deleteItem(item.menfootwearId)">Delete</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>