<nav class="navbar navbar-expand-lg navbar-dark w-100" style="background-color: rgb(221, 232, 228);">
    <div class="container mx-0">
      <a class="navbar-brand ms-5" href="#">
        <img src="./assets/logowithoutText-removebg-preview.png" alt="" width="80" height="70" priority>
      </a>
  
      <button class="navbar-toggler btn text-dark" type="button" data-bs-toggle="collapse" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon text-dark"></span>
      </button>
  
      <div class="collapse navbar-collapse w-100 " id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
        <div class="d-flex justify-content-lg-center w-100">
          <ul class="h5 navbar-nav">
            <li class="nav-item">
                 <a class="nav-link text-dark" type="button" routerLinkActive="is-active"  routerLink="/home" [routerLinkActiveOptions]="{exact:true}">HOME</a>
            </li>
            <li class="nav-item">
              <div ngbDropdown class="d-inline-block">
                <a class="nav-link text-dark" type="button" id="dropdownBasic2" ngbDropdownToggle routerLinkActive="is-active">MEN</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <a ngbDropdownItem class="custom-bg-hover" href="/men-footwear">Footwear</a>
                  <a ngbDropdownItem class="custom-bg-hover" href="/men-indian">Ethnic Wear</a>
                  <a ngbDropdownItem class="custom-bg-hover" href="/men-accessories">Accessories</a>
                  <a ngbDropdownItem class="custom-bg-hover" href="/topwear">Topwear</a>
                  <a ngbDropdownItem class="custom-bg-hover" href="/bottomwear">Bottomwear</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div ngbDropdown class="d-inline-block">
                <a class="nav-link text-dark" type="button" id="dropdownBasic3" ngbDropdownToggle routerLinkActive="is-active">WOMEN</a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic3">
                  <a ngbDropdownItem class="custom-bg-hover" href="/women-footwear">Footwear</a>
                  <a ngbDropdownItem class="custom-bg-hover" href="/women-indian">Ethnic Wear</a>
                  <a ngbDropdownItem class="custom-bg-hover" href="/women-accessories">Accessories</a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div ngbDropdown class="d-inline-block">
                <a class="nav-link text-dark" type="button" id="dropdownBasic4" routerLink="living" routerLinkActive="is-active">LIVING</a>
              </div>

            </li>
          </ul>
        </div>
      </div>
  
      <div class="d-flex align-items-end justify-content-lg-end ps-3">
        <a class=" nav-link fs-4 me-4" (click)="openEnd(content)">
          <i class="bi bi-bag-fill">
          </i>
        </a>
        <a routerLink="login" class="nav-link fs-4 me-4">
          <i class="bi bi-person-fill"></i>
        </a>
      </div>
      
    </div>
    
  </nav>

  <ng-template #content let-offcanvas>
    <div class="offcanvas-header">
      <h4 class="offcanvas-title">Items in your Cart</h4>
      <a type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></a>
    </div>
    <div class="offcanvas-body d-flex flex-column align-items-center">
      <div class="card mx-4 my-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Item Name</h3>
        </div>
      </div>
      <div class="card mx-4 my-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Item Name</h3>
        </div>
      </div>
      <div class="card mx-4 my-3" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Item Name</h3>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-5">
        <button class="btn btn-dark mx-5" type="button" routerLinkActive="is-active"  routerLink="/cart" [routerLinkActiveOptions]="{exact:true}">OPEN CART</button>
      </div>
    </div>
  </ng-template>