<div class="container p-lg-5 my-4">
    <div class="row py-2">
        <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="card card-1 ">
              <img
                src="https://media.istockphoto.com/id/1182454657/photo/bohemian-living-room-interior-3d-render.jpg?s=612x612&w=0&k=20&c=qw37MGIiTL_jML3_Tbm4bM-jNLCrocSWj7DanhBr_bY="
                class="card-img-top" style="width:100%; height: 300px">
                <div class="card-body text-center" style="background-color: rgb(254, 218, 38);">
                  <div class="card-title mx-3">        
                        <h6 class="fw-bold">Home Decor </h6>
                        <h4> 40% OFF</h4>
                        <h6> Shop now </h6>
                       </div>
                 </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="card card-1">
              <img src="https://images.news18.com/ibnlive/uploads/2022/09/budget-friendly-home-decor-16630683643x2.jpg?impolicy=website&width=1600&height=900" class="card-img-top" style="width:100%; height: 300px">
              <div class="card-body text-center" style="background-color: rgb(254, 218, 38);">
                <div class="card-title mx-3">        
                      <h6 class="fw-bold"> T-Shirts </h6>
                      <h4> 40% OFF</h4>
                      <h6> Shop now </h6>
                     </div>
               </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-4 mb-4">
            <div class="card card-1">
              <img
                src="https://media.istockphoto.com/id/1404885159/photo/view-of-tripod-lamp-in-a-cozy-living-room-spending-warm-light.jpg?b=1&s=170667a&w=0&k=20&c=zsfHg353TKGXeE0DSSQL2A30zFv9P9YTyKggPe-efqE="
                class="card-img-top" style="width:100%; height: 300px">
                <div class="card-body text-center" style="background-color: rgb(254, 218, 38);">
                  <div class="card-title mx-3">        
                        <h6 class="fw-bold">T-Shirts </h6>
                        <h4> 40% OFF</h4>
                        <h6> Shop now </h6>
                       </div>
                 </div>
        </div>
    </div>
</div>