<div class="container mx-0" >
    <footer class="row border-top">
        <div class="col-4 mb-3">
            <div class="mx-4 mt-5 px-4">
                <a href="#">
                    <img src="./assets/logo-footer.png">
                </a>
            </div>
            <!-- <h4 class="mx-5 my-3">Shop Online</h4> -->
            <h6 class="d-block my-3 mx-3">Catering to all your fashion needs</h6>
        </div>
        <div class="col-4 mb-3 py-5">
            <h5>Online Shop</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">Mens</li>
                <li class="nav-item mb-2">Womens</li>
                <li class="nav-item mb-2">Living</li>
                <li class="nav-item mb-2">Beauty</li>
            </ul>
        </div>
        <div class="col-4 mb-3 py-5">
            <h5>Customer Help</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">Contact Us</li>
                <li class="nav-item mb-2">FAQ</li>
                <li class="nav-item mb-2">T&C</li>
                <li class="nav-item mb-2">Track Orders</li>
            </ul>
        </div>
    </footer>
</div>